/* font-family: 'Titillium Web', sans-serif;;	

*/
#contenidos{

		width: 1000px;
		height:auto;
		margin: auto;
		position: relative;
		border-radius: 10px;
		}	
			

body{

background-image: url(../img/fondo.jpg);
background-repeat: no-repeat;
background-size: cover;

	}

h1{
	font-family: 'Titillium Web', sans-serif;;
	margin-left: 5px;
	font-size: 30px;
	color: white;
	text-align: center;
	}
h2{
	font-family: 'Titillium Web', sans-serif;;
	margin-left: 5px;
	font-size: 15px;
	color: white;
	text-align: left;
	}

h3{
	font-family: 'Titillium Web', sans-serif;;
	font-size: 20px;
	color: rgb(242,184,13); 
	text-align: left;
	margin-left: 5px;

	}
h4{
	font-family: 'Titillium Web', sans-serif;;
	font-size: 25px;
	color: rgb(0,102,128); 
	text-align: justify;
	margin-left: 5px;

	}

h5{
	font-family: 'Titillium Web', sans-serif;;
	font-size: 12px;
	color: rgb(255,255,255); 
	text-align: center;
	margin-top: 10px;

	}

h6{
	font-family: 'Titillium Web', sans-serif;;
	font-size: 20px;
	color: rgb(242,184,13); 
	text-align: center;
	margin-bottom: 0px;
	margin-top: 10px;
	}

header{

	width: 1000px;
	height: 120px;
	background: rgb(0,102,128);
	border-radius: 10px;
	}

nav{

	width: 1000px;
	height: 50px;
	background: rgb(179,179,179); 
	margin-top: 10px;
	border-radius: 10px;
	text-align: center;
}

ul{

	margin: auto;
	padding-top: 4px;
	text-align: center;


}

li{

	float: left;
	list-style-type: none;
	padding: 10px;
	background: rgb(0,102,128);
	margin: 2px;
	border-radius: 5px;
	box-shadow: 0 0 5px black;
	}

section{
	width: 700px;
	background: white;
	height: 550px;
	float: left;
	margin-top: 10px;
	border-radius: 10px;
}

aside{
	width: 290px;
	background: gray;
	height: 550px;
	float: left;
	margin-left: 10px;
	margin-top: 10px;
	border-radius: 10px;

	
}

footer{
width: 1000px;
	background: rgb(0,102,128);
	height: 30px;
	float: left;
	margin-top: 10px;
	margin-bottom: 20px;
	border-radius: 10px;
}

p{
font-size: 14px;
font font-weight:;
line-height: 12px;
padding: 5px;
text-align: justify;
margin-bottom: 2px;
}


/* CLASES*/
.ancho_menu_home{width: 900px}
.ancho_menu_paginas{width: 710px}

.menu:link{color:white; text-decoration: none;}
.menu:visited{color:white; text-decoration: none;}
.menu:hover{color:white; text-decoration: none; text-shadow: 0 0 7px white;}
.menu:active{color:white; text-decoration: none;}
.menu:inactive{}
/* clase aside*/
.logo1{max-width: 80%; max-height: 80%; border-radius: 10px; margin-left:30px;}
.logo2{max-width: 80%; max-height: 80%; border-radius: 10px; margin-left:30px;}

/*PSEUDO CLASES*/

li:hover{
	background: white);
	box-shadow: 0 0 10px white inset;
}
